__pycache__/

# env
.env
.vault-password

# os x
.DS_Store

# statics
statics/
media/

# celery
celerybeat-schedule
celerybeat.pid

# requester
requester.pyr

# docker
dbdata/

sandbox/

# google sheets, delete this
client_secret.json
