__pycache__/

# env
.env
.vault-password
requirements.txt

# os x
.DS_Store

# static files
static/

# celery
celerybeat-schedule
celerybeat.pid

# requester
requester.pyr

# docker
dbdata/

sandbox/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# google sheets, DELETE THIS
client_secret.json

# web app, deploy web app from web repo, DELETE THIS
dist/
