#!/usr/bin/env python
from collections import namedtuple

from db.users.models import StaffUser


User = namedtuple('User', 'email defaults')

staff_users = [
    User(
         "kylebebak@gmail.com", {
            "full_name": "Kyle Bebak", "is_active": True, "is_superuser": True,
            "password": ""
            }
        )
]

for user_ in staff_users:
    user = StaffUser.objects.update_or_create(email=user_.email, defaults=user_.defaults)[0]
    user.save()
