description "Celery beat, scheduled jobs"

start on started celery-worker-{{ env }}
stop on shutdown

setuid {{ login_user }}

script
  chdir {{ django_path }}
  . {{ django_path }}/.env
  exec {{ venv_path }}/bin/celery beat -A config
end script
