description "Django development server reloader, avoids NFS lag when .py files are edited"

start on {{ upstart_start_on }}
stop on shutdown

setuid {{ login_user }}

script
  exec python2 {{ shell_scripts_path }}/django-reloader.py
end script
