description "Django development server"

{{ '' if upstart_django_autostart else '# ' }}start on {{ upstart_start_on }}
stop on shutdown

setuid {{ login_user }}

script
  chdir {{ django_path }}
  . {{ django_path }}/.env
  exec {{ venv_path }}/bin/python manage.py runserver 0.0.0.0:8000
end script
