description "Celery flower, monitor jobs"

start on started celery-beat-{{ env }}
stop on shutdown

setuid {{ login_user }}

script
  chdir {{ django_path }}
  . {{ django_path }}/.env
  exec {{ venv_path }}/bin/celery flower -A config --port={{ _env_combined.ASISTIA_CELERY_PORT }} --address=0.0.0.0 --basic_auth={{ _env_combined.ASISTIA_MAIN_USERNAME }}:{{ _env_combined.ASISTIA_MAIN_PASSWORD }}
end script
